# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment Variables
.env

# Docker
Dockerfile
docker-compose.yml
**/Dockerfile
**/docker-compose.yml
.dockerignore

# MacOS
.DS_Store

# Linux
*.swp

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
